@media (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        width: 100%;
        height: 100%;
        background-color: #000;
    }
    
    img {
        display: block;
    }


    .delayed-element {
        opacity: 0;
        transform: translateY(20px); 
        /* 이미지가 처음에는 살짝 아래로 위치하게 */
        transition: opacity 1s ease-out, transform 1s ease-out;
        /* opacity와 transform 속성에 애니메이션 적용 */
    }
    
    /* 클래스를 추가하여 페이드 인 효과를 적용 */
    .delayed-element.visible {
      opacity: 1;
      transform: translateY(0);
      /* 이미지가 자연스럽게 올라오며 보이도록 */
    }



    .mobile-only {
        display: block;
        opacity: 1;
    }

    .title {
        color: #fff;
        position: absolute;
        top: 15%;
        font-size: 26px;
        font-weight: 100;
    }



    /* 햄버거 시작 */
    .ham_container {
        position: fixed;
        top: 10%;
        right: 5%;
        cursor: pointer;
        transition: 0.5s;
        z-index: 999;
    }

    .hamburger {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
        margin: 16px 0;
        transition: 0.5s;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        width: 30px;
        height: 3px;
        display: block;
        background-color: #fff;
        position: absolute;
        /* top: 10px; */
        left: 0;
        transition: 0.5s;
    }
    .hamburger::before {
        top: -10px;
    }
    .hamburger::after {
        top: 10px;
    }

    .hamburger.active {
        background-color: transparent;
    }

    .hamburger.active::before,
    .hamburger.active::after {
        transform: rotate(-45deg);
        top: 0;
    }

    .hamburger.active::after {
        transform: rotate(45deg);
    }
    /* 햄버거 끝 */



    /* 메뉴 시작 */
    .menu-container {
        width: 55%;
        min-height: 100vh;
        position: fixed;
        top: 0;
        z-index: 100;
        right: -200%;
        transition: right 0.3s ease-in-out;
        background-color: transparent;
    }
    .menu-container.active {
        right: 0; /* 메뉴를 화면으로 이동 */
    }

    .menu-box {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        background-color: #0c0c0c;
        opacity: 85%;
    }
    
    .menu {
        width: 100%;
        height: 100%;
        
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .menu-logo {
        position: relative;
        width: 100px;
        /* margin-bottom: 20%; */
    }
    
    .menu-contants {
        height: 300px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .m_text {
        padding: 20px;  
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        color: #FFEF00;
    }
    .page {
        font-weight: bolder;
    }
    /* 메뉴 끝 */


    /* 홈 시작 */
    .home-container {
        width: 100%;
        min-height: 100vh;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-contents {
        width: 100%;
        height: 90%;
    
        display: flex;
        justify-content: center;
    }
    
    .home-img {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Cats-eyes {
        width: 70vw;
        margin-bottom: 30%;
    }
    
    .Cats-Logo {
        width: 25vw;
    }
    /* 홈 끝 */


    /* 트레일러 시작 */
    .trailer-container {
        min-height: 100vh;
    }

    .trailer-contants {
        width: 100%;
        height: fit-content;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: relative;
        padding-top: 56.25%;
    }

    .view-botton {
        bottom: -35%;
    }
    /* 트레일러 끝 */




    /* 시놉시스 시작 */
    .synopsis-container {
        min-height: 100vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .synopsis-container > .title {
        top: 7%;
    }

    .synopsis-back-img {
        height: 450px;
    }

    .synopsis-box {
        height: fit-content;
    }
    .synopsis-box img {
        width: 120px;
    }

    .synopsis-text > h2 {
        font-size: 24px;
        line-height: 30px;
    
        margin-bottom: 3%;
    }
    
    .synopsis-text > p {
        font-size: 16px;
        line-height: 20px;
        color: #FFEF00;
    }
    /* 시놉시스 끝 */




    /* 캐릭터 시작 */
    .characters-container {
        width: 100%;
        height: 1850px;

        position: relative;
    }
    .characters-container .delayed-element {
        opacity: 1;
        transform: none; 
        transition: none;
    }
    .characters-container .delayed-element.visible {
        opacity: 1;
        transform: none;
    }
    .characters-container .title {
        top: 5%;
    }

    .characters-contants {
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .characters {
        width: 85%;
        height: 300px;

        padding: 10px;
        
        transition: 0;
    }

    .characters:nth-child(n) {
        background-size: cover;
    }

    .characters:hover {
        background-size: cover;
        flex-shrink: 1;
    }

    .characters-img {
        /* background-color: none; */
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .characters-text-box {
        /* width: 100%;
        height: 100%; */
        position: relative;
        opacity: 1;
    }

    .characters-text{
        height: 100%;
    }

    .characters-text > .character-name > h1 {
        font-size: 48px;
        font-weight: bolder;
        margin-bottom: 0;
    }
    .characters-text > .character-name > h3 {
        font-size: 20px;
        font-weight: bolder;
    }
    .characters-text > p {
        font-size: 14px;
        line-height: 16px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .number1 .characters-text-box > .characters-text > .character-name {
        position: absolute;
        bottom: 0;
    }
    .number1 .characters-text-box > .characters-text > P {
        text-align: right;
    }

    .number2 .characters-text-box > .characters-text {
        height: fit-content;
        position: absolute;
        bottom: 0;
    }
    .number2 .characters-text-box > .characters-text > .character-name {
        margin-bottom: 5px;
    }

    .number3 .characters-text-box > .characters-text {
        height: fit-content;
        bottom: 0;
    }
    .number3 .characters-text-box > .characters-text > .character-name {
        position: relative;
        margin-bottom: 5px;
    }
    .number3 .characters-text-box > .characters-text > .character-name > h1 {
        margin-bottom: 5px;
    }

    .number4 .characters-text-box > .characters-text  {
        height: fit-content;
        position: absolute;
        text-align: right;
    }
    .number4 .characters-text-box > .characters-text > .character-name {
        margin-bottom: 5px;
    }
    .number4 .characters-text-box > .characters-text > .character-name h1 {
        letter-spacing: -3px;
    }

    .number5 .characters-text-box > .characters-text {
        width: 100%;
        position: absolute;
        text-align: right;
        bottom: 0;
    }
    .number5 .characters-text-box > .characters-text > .character-name {
        position: absolute;
        text-align: left;
        bottom: 0;
    }
    .number5 .characters-text-box > .characters-text > .character-name > h1 {
        margin-bottom: 5px;
    }
    /* 캐릭터 끝 */




    /* 갤러리 시작 */
    .gallery-container {
        width: 100%;
        min-height: 100vh;

        position: relative;

        display: flex;
        justify-content: center;
    }
    .gallery-container .title {
        top: 7%;
    }

    .gallery-contants{
        height: fit-content;

        position: absolute;
        top: 15%;
    }

    .gallery-box {
        height: 500px;
        margin-bottom: 0;
    }

    .gallery-main img {
        width: 100%;
        height: 100%;

        margin-bottom: 0px;
    }

    .button-container {
        width: 105%;
    }

    .thumbnails {
        display: none;
    }
    /* 갤러리 끝 */




    /* 사운드트랙 시작 */
    .soundtrack-container {
        min-height: 100vh;
    }
    .soundtrack-container .title {
        top: 7%;
    }
    .soundtrack-contants {
        min-height: 100vh;
    }
    
    .soundtrack-contants > .front {
        display: none;
    }
    .soundtrack-contants > .back {
        height: 500px;
        top: 55%;
        left: 48%;
        transform: rotate(2deg) translate(-50%, -50%);
    }

    .soundtrack > img {
        height: 500px;
    }

    .soundtrack-box{
        width: fit-content;
        height: 420px;

        left: 6%;
        top: 65px;
    }

    .soundtrack-playlist {
        width: 220px;
        height: 370px;

        font-size: 14px;
    }

    .sound-button {
        bottom: 2px;
    }
    .sound-button > a > img {
        height: 45px;
    }

    .soundtrack-text {
        left: 55px;
        bottom: 7px;
    }
    .soundtrack-text h1 {
        font-size: 32px;
    }
    .soundtrack-text p {
        font-size: 8px;
    }
    /* 사운드트랙 끝 */




    /* 예약 시작 */
    .reservation-container {
        min-height: 100vh;
    }
    .reservation-container .title {
        top: 7%;
    }

    .reservation-contants {
        height: 500px;
        position: absolute;
        bottom: 5%;
    }

    .r-contant {
        width: 90%;
        height: 95%;
    }
    .r-contant > h1 {
        font-size: 28px;
        line-height: 34px;
    }
    .r-contant > h2 {
        font-size: 24px;
        line-height: 30px;
        font-weight: bolder;
    }
    .r-contant > h3 {
        font-size: 20px;
        line-height: 26px;
    }
    .r-contant > p {
        font-size: 12px;
        line-height: 16px;
    }

    .reservation-img > img {
        width: 150px;
        padding: 5px;
    }
    /* 예약 끝 */




    /* 푸터 시작 */
    .footer-container {
        width: 100%;
        min-height: 100vh;
    }

    .footer-contants {
        width: 90%;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }
    .footer-logo img {
        width: 75%;
    }

    .sns-link {
        width: 270px;
    }
    .sns-link > li {
        width: fit-content;
        height: fit-content;
    }
    
    .sns > img{
        width: 60px;
        height: 40px;
    }
    /* 푸터 끝 */
}