/* 메뉴 시작 */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.menu-container {
    width: 100%;
    height: 800vh;
    position: absolute;
}

.menu {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 40px;
    background-color: #000;

    position: sticky;
    top: 0vh;
    /* 바텀0으로 해도 고정이 안 됨 */
    z-index: 1000;
}

.menu-contants {
    display: flex;
    justify-content: center;
    width: 1050px;
}

.m_text {
    padding: 20px;  
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #FFEF00;
}

/* 메뉴 끝 */




/* 홈 시작 */
.home-container {
    width: 100%;
    height: 100vh;
    /* 높이는 window height 구해서 넣고 싶음 */
    display: flex;
    justify-content: center;
}

.home-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img > img {
    display: block;
}

.Cats-eyes {
    width: 100vh;
    margin-bottom: 200px;
}

.Cats-Logo {
    width: 25vh;
}
/* 홈 끝 */




/* 트레일러 시작 */
.trailer-container {
    width: 100%;
    height: 100vh;
}

.trailer-contants {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}

.trailer {
    width: 100%;
    height: 100%;
    background-color: darkgrey;
}

.view-botton {
    display: flex;
    border: #FFEF00 solid 5px;
    position: absolute;
    bottom: -90%;
    /* 위치 짜친다 */
}

.view-botton > a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #FFEF00;
}
/* 트레일러 끝 */




/* 시놉시스 시작 */
.synopsis-container {
    width: 100%;
    height: 100vh;
}

.synopsis-contants {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    position: relative;
}

.synopsis-back-img {
    width: 100%;
    height: 700px;
    
    background-image: url('/img/background_1.jpg');
}

.synopsis-box {
    width: 100%;
    height: 700px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: absolute;
    top: 300px;

    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.synopsis-logo {
    width: 170px;
    padding-bottom: 50px;
}

.synopsis-box > h2 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 350px;
}

.synopsis-box > p {
    font-size: 18px;
    line-height: 24px;
    color: #FFEF00;
}
/* 시놉시스 끝 */




/* 캐릭터 시작 */
.characters-container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.characters-contants {
    display: flex;
    /* justify-content: center; */
    width: 100%;
}

.characters {
    position: relative;
}

.characters-contants > li > img {
    height: 500px;
    background-color: brown;
}

.characters-text {
    position: absolute;
    width: 100%;
    color: #fff;
}

.characters-text > h1 {
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.characters-text > h3 {
    font-size: 26px;
    font-weight: bolder;
}

.characters-text > p {
    line-height: 20px;
}


.number1 > .characters-text {
    left: 20px;
    bottom: 0px;
}

.number1 > .characters-text > P {
    position: absolute;
    text-align: right;
    left: 150px;
    top: -370px;
}

.number2 > .characters-text {
    left: 30px;
    top: 350px;
}

.number3 > .characters-text {
    text-align: right;
    right: 20px;
    top: 10px;
}

.number3 > .characters-text > p {
    position: absolute;
    right: 0;
    bottom: -360px;
}

.number4 > .characters-text {
    text-align: right;
    right: 20px;
    bottom: 10px;
}

.number4 > .characters-text > p {
    position: absolute;
    text-align: left;
    top: -360px;
    left: 40px;
}

.number5 > .characters-text {
    left: 20px;
    top: 10px;
}

.number5 > .characters-text > p {
    position: absolute;
    text-align: right;
    right: 40px;
    bottom: -360px;
}
/* 캐릭터 끝 */




/* 갤러리 시작 */
.gallery-container {
    width: 100%;
    height: 100vh;
}

.gallery-main-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-main-container > figure {
    width: 100%;
    height: 650px;
    background-color: aquamarine;
}

.button-container {
    width: 99%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.button-container > button {
    width: 40px;
    height: 70px;
}

.gallery-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery-box > img {
    width: 180px;
    height: 120px;
    margin: 10px;
}
/* 갤러리 끝 */




/* 사운드트랙 시작 */
.soundtrack-container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
}

.soundtrack-contants {
    position: relative;
    width: 50%;
    height: 100%;

}

.soundtrack {
    height: 750px;
    width: 375px;

    position: absolute;
}

.soundtrack-contants > .front {
    top: 60px;
    left: 90px;
    transform: rotate(-4deg);
}

.soundtrack-contants > .back {
    bottom: 60px;
    right: 90px;
    transform: rotate(5deg);

    display: flex;
    justify-content: center;
}

.soundtrack > img {
    height: 750px;
}

.sound-button {
    width: 75%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 5%;
}

.sound-button > button {
    width: 50px;
    height: 50px;
}
/* 사운드트랙 끝 */




/* 예약 시작 */
.reservation-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.reservation-contants {
    width: 100%;
    height: 700px;

    background-image: url('/img/background_2.jpg');
}

.r-contant {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #fff;
}

.r-contant > h1 {
    font-size: 46px;
    line-height: 55px;
    font-weight: bolder;
    margin-bottom: 24px;
}

.r-contant > h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bolder;
    margin-bottom: 60px;
}

.r-contant > h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
}

.r-contant > p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 60px;
}

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation-img > img {
    width: 250px;
    /* border-radius: 5px; */
    padding: 10px;
}

.reservation > p {
    font-size: 12px;
    color: rgb(172, 172, 172);
}
/* 예약 끝 */




/* 푸터 시작 */
.footer-container {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
}

.footer-contants {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo > img {
    width: 300px;
}

.sns-link {
    display: flex;
    justify-content: space-between;
}

.sns > img{
    height: 80px;
}
/* 푸터 끝 */