/* 태블릿릿 화면 */
@media (max-width: 1024px) {
    /* 메뉴 시작 */
    /* 메뉴 끝 */


    /* 홈 시작 */
    .home-container {
        width: 100%;
        min-height: 100vh;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* 홈 끝 */


    /* 트레일러 시작 */
    .trailer-container {
        width: 100%;
        min-height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }
    
    .trailer-contants {
        width: 100%;
        height: 100%;
        
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        padding-top: 56.25%;
    }

    .trailer-contants > iframe {
        width: 100%;
        height: 100%;
        border: none;
        pointer-events: none;

        position: absolute;
        top: 0;
        left: 0;
    }
    /* 트레일러 끝 */




    /* 시놉시스 시작 */
    .synopsis-contants {
        width: 100%;
        height: 100vh;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* 시놉시스 끝 */




    /* 캐릭터 시작 */
    .number2 .characters-text-box > .characters-text {
        height: 260px;
        position: absolute;
        bottom: 0;
    }
    
    .number4 .characters-text-box > .characters-text {
        height: 280px;
        position: absolute;
        bottom: 0;
    }
    /* 캐릭터 끝 */




    /* 갤러리 시작 */
    /* 갤러리 끝 */




    /* 사운드트랙 시작 */
    /* 사운드트랙 끝 */




    /* 예약 시작 */
    /* 예약 끝 */




    /* 푸터 시작 */
    /* 푸터 끝 */
}